################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MathGame/.vs
/MathGame/MathGame/bin/Debug/net10.0
/MathGame/MathGame/obj
/MathGame/MathGame.slnx
/MathGame/obj
