################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MathGame/.vs
/MathGame/MathGame/bin/Debug/net10.0
/MathGame/MathGame/obj
/MathGame/MathGame.slnx
/MathGame/obj
/MathGame/bin/Debug/net10.0
/Calculator/obj
/Calculator/.vs
/CalculatorLibrary/.vs/CalculatorLibrary.slnx
/Calculator/bin/Debug/net10.0
/CalculatorLibrary/bin/Debug/net10.0
/CalculatorLibrary/obj
/Habit.Tracker/.vs/Habit.Tracker.slnx
/Habit.Tracker/bin/Debug/net10.0
/Habit.Tracker/obj
/Habit.Tracker/obj/Debug/net10.0/ref/Habit.Tracker.dll
/Habit.Tracker/Properties
*.user
/Coding.Tracker/.vs
/Coding.Tracker/obj
/Coding.Tracker/Coding.Tracker.slnx
/Coding.Tracker/bin/Debug/net10.0
